<!DOCTYPE html>
<html>
<head>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"> </script>

	<title>Smart Home</title>
</head>
<link rel="stylesheet" type="text/css" href="style.css">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<body>
		<% if (!user) { %>
			<h1 class = login_msg>Welcome! Please <a href="/login">log in</a>.</h1>
		<% } else { %>
	<nav id = "navigation">
		<ul>
			<li class="nav-li"><a href="/index">Home</a></li>
			<li class="nav-li"><a href="/temperature">Temperature Sensor</a></li>
			<li class="nav-li"><a href="/LED">LED OnOFF</a></li>
			<li class="nav-li"><a href="/humidity">Humidity</a></li>
		</ul>
	</nav>
		
	<div id="jumbo">
		<p></p>
	</div>
	
	<main class="info">
	<h2>author: Weida Fan , Phil</h2>
	<h3>date:11/3/2017</h3><br>
		<h1>Humidity</h1>

<p>The humidity is : <%= resources.pi.sensors.humidity.value%></p>
<p> the valve status is : <%= resources.pi.actuators.valve.status%></p>
<form action="/openValve" method="POST">
	<button type="submit">Press to Turn valve onOff</button>
  </form>

  <form action="/update_humidity" method="POST">
	<button type="submit">Update Humidity reading</button>
  </form>
</main>
<footer>
	
</footer>
<% } %>
</body>

</html>
