<!DOCTYPE html>
<html>
<head>
	<title>Smart Home</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
	
<body>
		<% if (!user) { %>
			<h1 class = login_msg>Welcome! Please <a href="/login">log in</a>.</h1>
		<% } else { %>

	<nav id = "navigation">
		<ul>
			<li class="nav-li"><a href="/index">Home</a></li>
			<li class="nav-li"><a href="/temperature">Temperature Sensor</a></li>
			<li class="nav-li"><a href="/LED">LED OnOFF</a></li>
			<li class="nav-li"><a href="/humidity">Humidity</a></li>
		</ul>
	</nav>
		
	<div id="jumbo">
		<p></p>
	</div>
	
	<main class="info">
	<h2>author: Weida Fan , Phil</h2>
	<h3>date:11/3/2017</h3><br>
		<h1>LED</h1>
		
<p> <b> The Led status is:  <%= LED_STATUS.value %></b>
</p>
<form action="/openLED" method="POST">
	<button type="submit">Press to Turn LED onOff</button>
  </form>


	</main>
	<footer>

	</footer>
	<% } %>
</body>

</html>
